<h2>New Anime</h2>
<app-long-slider [contentType]="'new_anime'"/>

<h2>Popular Anime</h2>
<app-long-slider [contentType]="'popular_anime'" />

<h2>Top Rated</h2>
<app-long-slider [contentType]="'top_rated_anime'" />

<h2>Browse All Anime</h2>
<div #discover class="discover" id="discover">
    @for (item of items() ; track $index) {
        <app-movie-item [movie]="item" />
    }
</div>

<div class="page-nav">
    <button id="start" (click)="resetPage()"><<</button>
    <button id="prev-page" (click)="prevPage()"> < </button>
    <span id="curr-page"> {{currPageIndex}} </span>
    <button id="next-page" (click)="nextPage()"> > </button>
</div>