nav{
    position: fixed;
    width: 15%;
    height: 100vh;
    background-color: rgb(30, 30, 30);
    color: whitesmoke;
    border-right: 2px solid rgb(50, 50, 50);

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    
    h1{
        text-align: center;
        color: turquoise;
    }
    ul{
        margin: 0;
        padding: 0;
        padding-block: 1rem;
        border-bottom: 2px solid rgb(50, 50, 50);
        border-top: 2px solid rgb(50, 50, 50);   
    }
}
