<nav>
    <div class="nav-group-top">
        <h1>Lumina</h1>
        <ul class="top">
            <app-nav-item [title]="'Home'" [icon]="'🏠'" [path]="''"/>
            <app-nav-item [title]="'Movie'" [icon]="'🎬'" [path]="'movie'"/>
            <app-nav-item [title]="'Tv-show'" [icon]="'📺'" [path]="'show'"/>
            <app-nav-item [title]="'Anime'" [icon]="'👾'" [path]="'anime'"/>
        </ul>
        <ul class="bottom">
            <app-nav-item [title]="'Profile'" [icon]="'🧑'" [path]="'profile'"/>
            <app-nav-item [title]="'Library'" [icon]="'📚'" [path]="'library'"/>
        </ul>
    </div>

    <ul class="nav-group-bottom">
        <app-nav-item [title]="'Settings'" [icon]="'⚙️'" [path]="'settings'"/>
    </ul>
</nav>