<footer>
    <div class="links">
        <div class="logo-container">
            <div class="logo">
                <img src="lumina-logo.png" alt="Lumina">
            </div>
            <a (click)="scrollToTop()" ><u>⬆ Back to top</u></a>
        </div>
        <ul class="nav">
            <h4>Nav links</h4>
            <li><a routerLink ="/">Home</a></li>
            <li><a routerLink ="/movie">Movie</a></li>
            <li><a routerLink ="/tv">Tv-show</a></li>
            <li><a routerLink ="/anime">Anime</a></li>
        </ul>
        <ul class="contact">
            <h4>Contact</h4>
            <li><a href="#">🐙 GitHub</a></li>
            <li><a href="#">🏢 LinkedIn</a></li>
            <li><a href="#">✉ Email</a></li>
        </ul>

        <div class="credit">
            <h4>Credits</h4>
            <div class="logo">
                <img src="tmdb-logo.svg" alt="the movie database">
            </div>
            <span>Thanks to <a href="https://themoviedb.org"><b>themoviedatabase.org</b></a> which is the source API for the information on this page.</span>
        </div>

    </div>
    <div class="copyright">© Copyright Lumina | All rights reserved</div>
</footer>