<div class="slide">
    <div class="background"><img src="https://imageio.forbes.com/blogs-images/scottmendelson/files/2019/04/screencapture-file-C-Users-JckNa-OneDrive-Desktop-b-avengersendgame-horizontal-friday-17793-04d92fbf-webp-2019-04-23-08_14_14.jpg?format=jpg&width=1440" alt="movie-cover"></div>

    <div class="front">

        <div class="movie-information">
            <h1>Avengers Endgame</h1>
            <div class="information">
                <span id="type">Movie</span><span id="date">2019</span><span id="rating">⭐9.5</span>
            </div>
            <p>After the devastating events of Avengers: Infinity War (2018), the universe is in ruins. With the help of remaining allies, the Avengers assemble once more in order to reverse Thanos' actions and restore balance to the universe.</p>
            <div class="button-group">
                <button id="wishlist">📌 add to wishlist</button>
                <button id="watched">✔️ mark as watched</button>
                <button id="info">🛈 more info</button>
            </div>
        </div>

    </div>
</div>