:host{
    position: relative;

    .slider{
        position: relative;
        box-sizing: border-box;
        width: 100%;
        height: fit-content;
        display: flex;
        justify-content: start;
        align-items: center;
        overflow: hidden;
        .slide-wrapper{
            height: 90%;
            display: flex;
            transition: transform 0.5s ease;
            margin-left: 1rem;
        }
    }

    button{
        all: unset;
        position:absolute;
        top: 0;
        height: 100%;
        width: 10%;
        transition: opacity 0.3s ease-out;
        cursor: pointer;
        &:hover{
            opacity: 0.9;
        }
    }
    .left{
        left: 0;
        background: linear-gradient(to right , rgb(0,0,0,0.8), transparent); 
    }
    .right{
        right: 0;
        background: linear-gradient(to left, rgb(0,0,0,0.8), transparent);
    }
}