<div class="container">
    @if (!movie()) {
        <h1>Page Not Found</h1>
    }
    @if(movie()){
        <div class="background" style="background-image: url('https://image.tmdb.org/t/p/w780{{movie()?.backdrop_path}}');">
            <div class="linear-gradient-wrapper">
                <div class="details">
                    <div class="poster"><img src="https://image.tmdb.org/t/p/w500{{movie()?.poster_path}}" alt="poster"></div>
                    <div class="info">
                        <h1>{{movie()?.title || movie()?.name}}</h1>

                        <div class="bottom">
                            
                            <div class="stats">
                                @if (movie()?.title) { <span id="type">Movie</span> <span>|</span> <span id="date">{{movie()?.release_date}}</span> }
                                @if (movie()?.name) { <span id="type">Tv-Show</span> <span>|</span> <span id="date">{{movie()?.first_air_date}}</span> }
                                <span>|</span>
                                <span id="rating">⭐{{movie()?.vote_average}} ({{movie()?.vote_count}})</span>
                            </div>
                            <div class="genre">
                                @for (genre of movie()?.genres; track $index) {
                                    <span>{{genre.name}}</span>
                                }
                            </div>
                            <div class="button-group">
                                <button id="wishlist">📌 add to wishlist</button>
                                <button id="watched">✔️ mark as watched</button>
                                <button id="info" (click)="goToImdb()">ⓘ IMDB</button>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="content">
            <div class="content-wrapper">
                <h1>About</h1>
                <p>{{movie()?.overview}}</p>
            </div>
            @if (trailerUrl) {
                <div class="content-wrapper">
                    <h1>Trailer</h1>
                    <iframe [src]="trailerUrl" frameborder="0" allowfullscreen></iframe>
                </div>
                }
        </div>
        
        @if (movie() && movie()?.credits && movie()?.credits?.cast?.length!) {
            <h1>Top Cast</h1>
            <div class="glow">
                <div class="actor-wrapper">
                    @for (actor of movie()?.credits?.cast; track $index) {
                        <div class="actor">
                            <img src="https://image.tmdb.org/t/p/w300/{{actor.profile_path}}" alt="{{actor.name}}">
                            <span id="name">{{actor.name}}</span>
                            <span id="playes">playes</span>
                            <span id="char-name">{{actor.character}}</span>
                        </div>
                    }
                </div>
            </div>
        }

        @if (movie()?.name) {
            <h1>Episodes</h1>
            <div class="season-wrapper">
                <select #select (change)="updateEpisodes(select.value)" name="seasons" id="seasons">
                    @for (season of movie()?.seasons; track $index) {
                        @if (season.name.toLowerCase().includes('season')) {
                            <option value="{{season.season_number}}">{{season.name}}</option>
                        }
                    }
                </select>
            </div>
            <div class="episode-wrapper">
                @for (season of seasons(); track $index) {
                    @if (currentSeasonIndex() == $index + 1) {
                        @for (episode of season.episodes; track $index) {
                            <app-episode-item [episode] = episode />
                        }
                    }
                }
            </div>
        }

    }
</div>
