:host{
    position: relative;

    .slider{
        box-sizing: border-box;
        width: 100%;
        height: fit-content;
        display: flex;
        justify-content: start;
        align-items: center;
        overflow: auto; 
        gap: 0.5rem;
        scroll-snap-type: x mandatory;
        scroll-behavior: smooth;
        padding-inline: 0.5rem;
        &::-webkit-scrollbar{
            display: none;
        }
    }
}