@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..700;1,100..700&display=swap');

*, *::before, *::after{
    box-sizing: border-box;
}
html,body{
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: 'Roboto',serif;
}
ul, ol{
    list-style: none;
}
a{
    text-decoration: none;
    color: inherit;
}
app-root{
    display: block;
    flex-direction: row;
    width: 100vw;
}