@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Boldonse&display=swap');

html,body {
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100vh;
    font-family: 'Roboto', sans-serif;
    display: flex;
    box-sizing: border-box;
    color: whitesmoke;
    background-color: rgb(30,30,30);
}
ul, ol{
    list-style: none;
}
a{
    text-decoration: none;
    color: inherit;
}
app-root{
    display: flex;
    width: 100%;
    height: 100%;
}