<h2>Trending Tv-Shows This Week</h2>
<app-long-slider [contentType]="'trending_tv'"/>

<h2>Airing Tv-Shows</h2>
<app-long-slider [contentType]="'upcoming_tv'"/>

<h2>Popular Tv-Shows</h2>
<app-long-slider [contentType]="'popular_tv'" />

<h2>Top Rated</h2>
<app-long-slider [contentType]="'top_rated_tv'" />

<h2>Browse All Tv-Shows</h2>
<div #discover class="discover" id="discover">
    @for (item of items() ; track $index) {
        <app-movie-item [movie]="item" />
    }
</div>

<div class="page-nav">
    <button id="start" (click)="resetPage()"><<</button>
    <button id="prev-page" (click)="prevPage()"> < </button>
    <span id="curr-page"> {{currPageIndex}} </span>
    <button id="next-page" (click)="nextPage()"> > </button>
</div>